<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="colorfondo" value="Yellow"/>
    </appSettings>
    <connectionStrings>
        <add name="conexionhospitalclase"
             connectionString="Data Source=localhost;Initial Catalog=HOSPITAL;User ID=sa;Password=MCSD2020"
             providerName="System.Data.SqlClient"/>
        <add name="conexionhospitalcasa"
             connectionString="Data Source=localhost;Initial Catalog=HOSPITAL;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>